@font-face{
    font-family: Galgony;
    src: url(font\Galgony.ttf);
}
h1,h2,h3,h4,h5,button{
    font-family: 'Galgony';
}
.h1{
    margin-bottom: 24px;
    color: #fff;
}
.collections{
    margin-bottom: 24px;
    color: #000;
}
#landingpage{
    overflow: hidden;
}

.hi-slide{
    position: relative;
}
.hi-slide .hi-prev, .hi-slide .hi-next{
    position: absolute;
    top: 50%;
    left: 90%;
    width: 50px;
    height: 50px;
    margin-top: -50px;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    background: rgb(29, 4, 4);
    color: rgb(250, 244, 244);
    transition: all .7s;
    font-size: 20px;
    font-weight: bold;
    z-index: 10;
}
.hi-slide .hi-prev:hover, .hi-slide .hi-next:hover{
    opacity: 1;
}
.hi-slide .hi-prev{
    left: 70px;
}
.hi-slide .hi-prev::before{
    content: '<';
}
.hi-slide .hi-next{
    right: -70px;
}
.hi-slide .hi-next::before{
    content: '>';
}
.hi-slide > ul{
    display: flex;
    list-style: none;
}
.hi-slide > ul > li {
    z-index: 0;
    width: 0;
    height: 0;
    cursor: pointer;
    visibility: visible;
}
.hi-slide > ul > li > li {
    width: 100%;
    height: 100%;
    background-position: center;
}
.img-slide{
    width: 100%;
    height: 100%;
}